body{
    background-color: bisque;
}

#box{

    display: grid;
    grid-template-columns: auto auto auto 40% ;
    background-color: black;
}

.boxButtons{
    background-color:grey;
  border: 2px solid rgba(0, 0, 0, 0.8);
 
  height:auto;
  width: auto;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: large;
  border-radius: 4px;


   
}



.boxButtons1{
    background-color:rgb(238, 148, 64);
  border: 2px solid rgba(0, 0, 0, 0.8);
  color: white;
  height:auto;
  width: auto;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: large;
  border-radius: 4px;


   
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}

#inputBox{
    padding-right: 5%;
    background-color: black;
 border: 5px solid brown;
 
 height: 60px;
 width:95%;
 border-radius: 4px;
 text-align: right;
 color: white;
 font-weight: 800;
 font-size: 20px;
}